<template>
  <v-container>
    <v-layout column>
      <v-card>
        <cropper-container v-if="rawPic" :image-to-crop="rawPic" @on-crop="imageCropped"/>
        <v-container v-if="!rawPic">
          <form @submit.prevent>
            <v-flex xs12>
              <v-layout row align-center justify-start>
                <v-avatar size="120" class="mr-3">
                  <img :src="processedPic ? processedPic : userProfile.profilePic" />
                </v-avatar>
                <v-layout column justify-space-between>
                  <h4 class="ml-2 mb-3">Profile picture</h4>
                  <file-chooser @on-file-choose="fileChosen" :size="5" :quality="20"/>
                </v-layout>
              </v-layout>
              <v-btn :disabled="!!processedPic" color="accent" small class="mt-3" @click="resetAvatar"><v-icon small left>settings_backup_restore</v-icon>Reset avatar</v-btn>
            </v-flex>
            <v-flex xs12 mt-4>
              <v-text-field
                label="Username"
                prepend-icon="account_circle"
                v-model.trim="formData.username" />
            </v-flex>
            <v-flex xs12 mt-3>
              <v-textarea
                label="Description"
                prepend-icon="description"
                v-model.trim="formData.description" />
            </v-flex>
            <v-flex xs12 mt-3>
              <v-text-field
                label="Old password"
                prepend-icon="lock"
                type="password"
                v-model.trim="oldPass"/>
              <v-text-field
                label="New password"
                prepend-icon="lock"
                type="password"
                v-model.trim="newPass" />
              <v-text-field
                label="Confirm password"
                prepend-icon="lock"
                type="password"
                v-model.trim="confirmNPass"
                :rules="[rules.passwd]" />
            </v-flex>
            <v-flex xs12 mt-3>
              <v-btn color="success" block large @click="passCheck"><v-icon left dark>save</v-icon>Save changes</v-btn>
              <v-btn class="mt-2" color="error" block large @click="goBack"><v-icon left dark>delete</v-icon>Discard changes</v-btn>
            </v-flex>
          </form>
        </v-container>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import {usersCollection, storage, auth, firebase} from '../firebaseConfig.js'
import md5 from 'js-md5'
import CropperContainer from '../components/CropperContainer.vue'
import FileChooser from '../components/FileChooser'

export default {
  name: 'EditProfile',
  components: {
    CropperContainer, FileChooser
  },
  data () {
    return {
      rawPic: null,
      processedPic: null,
      processedPicOrig: null,
      oldPass: '',
      newPass: '',
      confirmNPass: '',
      formData: {
        username: '',
        description: ''
      },
      rules: {
        required: value => !!value || 'Required',
        passwd: value => (value === this.newPass) || 'Passwords doesn\'t match'
      },
      error: ''
    }
  },
  mounted () {
    this.formData.username = this.$store.state.session.userProfile.username
    this.formData.description = this.$store.state.session.userProfile.description
  },
  methods: {
    chooseFile () {
      this.$refs.filechooser.click()
    },
    fileChosen (imageBlob) {
      this.rawPic = imageBlob
    },
    imageCropped (e) {
      this.rawPic = null
      this.processedPic = URL.createObjectURL(e)
      this.processedPicOrig = e
    },
    resetAvatar () {
      this.$store.commit('setLoading', true)
      usersCollection.doc(this.$store.state.session.currentUser.uid).update({
        profilePic: `https://www.gravatar.com/avatar/${this.getHash(this.$store.state.session.currentUser.email)}?d=mp&s=200`
      }).then(() => {
        storage.ref(`avatars/${this.$store.state.session.currentUser.uid}`).delete().catch(() => {})
        this.$store.dispatch('fetchUserProfile')
        this.goBack()
      }).catch(err => {
        this.$store.commit('setLoading', false)
        console.log(err)
      })
    },
    getHash (email) {
      let tmp = email.trim()
      tmp = tmp.toLowerCase()
      return md5(tmp)
    },
    passCheck () {
      if (this.newPass && this.oldPass && this.confirmNPass) {
        this.$store.commit('setLoading', true)
        auth.currentUser.reauthenticateWithCredential(
          firebase.auth.EmailAuthProvider.credential(
            auth.currentUser.email, this.oldPass
          )
        ).then(() => {
          if (this.newPass === this.confirmNPass) {
            auth.currentUser.updatePassword(this.newPass).then(() => {
              this.uploadPic()
            }).catch(err => {
              this.$store.commit('setLoading', false)
              console.log(err)
            })
          } else {
            this.$store.commit('setLoading', false)
            this.error = 'Passwords doesn\'t match!'
          }
        }).catch(err => {
          this.$store.commit('setLoading', false)
          console.log(err)
        })
      } else {
        this.$store.commit('setLoading', true)
        this.uploadPic()
      }
    },
    uploadPic () {
      if (this.processedPicOrig) {
        storage.ref(`avatars/${this.$store.state.session.currentUser.uid}`).put(this.processedPicOrig).then(snapshot => {
          this.saveChanges(true)
        }).catch(err => {
          this.$store.commit('setLoading', false)
          console.log(err)
        })
      } else {
        this.saveChanges(false)
      }
    },
    saveChanges (hasPic) {
      let finalData = Object.entries(this.formData)
        .filter(entry => entry[1] !== '' && entry[1] !== undefined)
        .reduce((obj, [k, v]) => ({ ...obj, [k]: v }), {})
      if ('username' in finalData) {
        finalData.username = finalData.username.toLowerCase()
      }
      if (hasPic) {
        storage.ref().child(`avatars/${this.$store.state.session.currentUser.uid}`).getDownloadURL().then(url => {
          finalData = {...finalData, profilePic: url}
          this.fillDocData(finalData)
        })
      } else {
        this.fillDocData(finalData)
      }
    },
    fillDocData (data) {
      usersCollection.doc(this.$store.state.session.currentUser.uid).update(data).then(() => {
        this.$store.dispatch('fetchUserProfile')
        this.goBack()
      }).catch(err => {
        this.$store.commit('setLoading', false)
        console.log(err)
      })
    },
    goBack () {
      this.$router.go(-1)
    }
  },
  computed: {
    userProfile () {
      return this.$store.state.session.userProfile
    }
  }
}
</script>
