<template>
  <v-container grid-list-lg>
    <v-layout column>
      <feed-card v-for="i in [1,2,3,4]" :key="i"
                 :pic="{
                   userName: 'elbuitrillo',
                   userPic: `https://cdn.vuetifyjs.com/images/lists/${i}.jpg`,
                   image: `https://picsum.photos/50${i}/50${i}`,
                   likes: 463
      }"/>
    </v-layout>
  </v-container>
</template>

<script>
import FeedCard from '@/components/FeedCard.vue'

export default {
  name: 'Home',
  components: {
    FeedCard
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
