<template>
  <v-container>
    <v-layout column>
      <v-flex xs12>
        <v-card>
          <v-container>
            <v-form @submit="login">
              <v-text-field
                v-model.trim="email"
                prepend-icon="email"
                name="email"
                label="Email"
                type="email"
                :rules="[rules.required, rules.email]" />
              <v-text-field
                v-model.trim="password"
                prepend-icon="lock"
                name="password"
                label="Password"
                :type="showPasswords ? 'text' : 'password'"
                :append-icon="showPasswords ? 'visibility' : 'visibility_off'"
                @click:append="showPasswords = !showPasswords" />
              <v-card-actions>
                <v-btn color="primary" large block @click="login">Login</v-btn>
              </v-card-actions>
              <v-card-actions>
                <v-btn color="accent" large block @click="() => this.$router.push('/register')">Register</v-btn>
              </v-card-actions>
            </v-form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {auth} from '../firebaseConfig.js'

export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: '',
      showPasswords: false,
      rules: {
        required: value => !!value || 'Required.',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail'
        }
      }
    }
  },
  methods: {
    login () {
      this.$store.commit('setLoading', true)
      auth.signInWithEmailAndPassword(this.email, this.password).then(data => {
        let user = data.user
        this.$store.commit('setCurrentUser', user)
        this.$store.dispatch('fetchUserProfile')
        this.$router.push('/profile')
      }).catch(err => {
        this.$store.commit('setLoading', false)
        console.log(err)
      })
    }
  }
}
</script>
