<template>
  <v-container>
    <v-layout row wrap justify-space-between>
      <v-avatar size="110">
        <img :src="userProfile.profilePic" alt="Profile picture">
      </v-avatar>
      <v-layout column justify-center align-center ml-3>
        <v-btn v-if="ownProfile" color="accent" @click="$router.push('/profile/edit')"><v-icon left>edit</v-icon>&nbsp;&nbsp;Edit profile</v-btn>
        <v-btn v-else color="success"><v-icon left>person_add</v-icon>&nbsp;&nbsp;Follow</v-btn>
      </v-layout>
    </v-layout>
    <v-layout column mt-3>
      <v-flex xs12>
        <v-card>
          <v-container>
            <h3>{{userProfile.username}}</h3>
            <p class="mb-0 mt-2" v-if="userProfile.description">{{userProfile.description}}</p>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout column mt-2>
      <v-card v-if="pics.length > 0">
        <v-container fluid grid-list-sm>
          <v-layout row wrap>
            <profile-pic v-for="(pic, i) in pics" :key="i" :url="pic.url"/>
          </v-layout>
        </v-container>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import ProfilePic from '@/components/ProfilePic.vue'
import {usersCollection, picturesCollection} from '../firebaseConfig.js'

export default {
  name: 'Profile',
  components: {
    ProfilePic
  },
  created () {
    this.checkProfiles()
  },
  updated () {
    console.log('updated!')
    if (this.$route.name === 'profile' || this.$route.name === 'profile_custom') {
      this.checkProfiles()
    }
  },
  data () {
    return {
      cropImage: null,
      profileUID: null,
      profileData: {},
      pics: [],
      gotPics: false
    }
  },
  computed: {
    userProfile () {
      return this.ownProfile ? this.$store.state.session.userProfile : this.profileData
    },
    ownProfile () {
      return this.$store.state.session.currentUser.uid === this.$route.params.uid
    }
  },
  methods: {
    checkProfiles () {
      if (!this.$route.params.uid) {
        this.$router.push(`/profile/${this.$store.state.session.currentUser.uid}`)
      } else {
        if (this.profileUID !== this.$route.params.uid) {
          this.gotPics = false
        }
        if (this.ownProfile) {
          this.profileUID = this.$store.state.session.currentUser.uid
          if (!this.gotPics) {
            this.$store.commit('setLoading', true)
            picturesCollection.doc(this.$route.params.uid).collection('pics').get().then(data => {
              this.pics = []
              this.gotPics = true
              this.$store.commit('setLoading', false)
              data.docs.forEach(doc => {
                this.pics.unshift(doc.data())
              })
            })
          }
        } else if (this.profileUID !== this.$route.params.uid || this.profileUID === null) {
          this.$store.commit('setLoading', true)
          this.profileUID = this.$route.params.uid
          // download user data!
          usersCollection.doc(this.$route.params.uid).get().then(res => {
            this.profileData = res.data()
            picturesCollection.doc(this.$route.params.uid)
              .collection('pics').get().then(data => {
                this.pics = []
                this.gotPics = true
                data.docs.forEach(doc => {
                  this.pics.unshift(doc.data())
                })
                this.$store.commit('setLoading', false)
              }).catch(err => {
                console.log(err)
                this.$store.commit('setLoading', false)
              })
          }).catch(err => {
            console.log(err)
            this.$store.commit('setLoading', false)
          })
        }
      }
    }
  }
}
</script>
