<template>
  <v-container>
    <v-layout column>
      <v-flex xs12>
        <v-card>
          <v-container>
            <v-form @submit.prevent>
              <v-text-field
                v-model.trim="username"
                prepend-icon="person"
                name="username"
                label="Username"
                :rules="[rules.required]" />
              <v-text-field
                v-model.trim="email"
                prepend-icon="email"
                name="email"
                label="Email"
                type="email"
                :rules="[rules.required, rules.email]" />
              <v-text-field
                v-model.trim="password"
                prepend-icon="lock"
                name="password"
                label="Password"
                :type="showPasswords ? 'text' : 'password'"
                :append-icon="showPasswords ? 'visibility' : 'visibility_off'"
                @click:append="showPasswords = !showPasswords"
                :rules="[rules.required]" />
              <v-text-field
                v-model.trim="passConfirm"
                prepend-icon="lock"
                name="password-confirm"
                label="Confirm password"
                :type="showPasswords ? 'text' : 'password'"
                :rules="[rules.required, rules.passwd]" />
              <v-card-actions>
                <v-btn color="primary" large block @click="register">Register</v-btn>
              </v-card-actions>
            </v-form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {auth, usersCollection, picturesCollection} from '../firebaseConfig.js'
import md5 from 'js-md5'

export default {
  name: 'Register',
  data () {
    return {
      username: '',
      email: '',
      password: '',
      passConfirm: '',
      showPasswords: false,
      rules: {
        required: value => !!value || 'Required.',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail'
        },
        passwd: value => (value === this.password) || 'Passwords doesn\'t match'
      }
    }
  },
  methods: {
    register () {
      this.$store.commit('setLoading', true)
      auth.createUserWithEmailAndPassword(this.email, this.password).then(data => {
        const user = data.user
        this.$store.commit('setCurrentUser', user)

        usersCollection.doc(user.uid).set({
          username: this.username.toLowerCase(),
          email: user.email.toLowerCase(),
          description: '',
          profilePic: `https://www.gravatar.com/avatar/${this.getHash(this.email)}?d=mp&s=200`
        }).then(() => {
          picturesCollection.doc(user.uid).set({}).then(() => {
            this.$store.dispatch('fetchUserProfile')
            this.$router.push('/profile')
          }).catch(err => {
            this.$store.commit('setLoading', false)
            console.log(err)
          })
        }).catch(err => {
          this.$store.commit('setLoading', false)
          console.log(err)
        })
      })
    },
    getHash (email) {
      let tmp = email.trim()
      tmp = tmp.toLowerCase()
      return md5(tmp)
    }
  }
}
</script>
