<template>
  <v-container>
    <v-slide-y-transition mode="out-in">
      <v-layout column wrap>
        <v-flex xs12>
          <v-card>
            <v-container>
              <v-text-field prepend-icon="search" label="Search users..." @input="queryUsers" v-model="model"/>
              <v-list>
                <profile-result
                  v-for="res in searchQuery"
                  :key="res.email"
                  :avatar="res.profilePic"
                  :username="res.username"
                  :uid="res.uid"/>
              </v-list>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import ProfileResult from '../components/ProfileResult.vue'
import {usersCollection} from '../firebaseConfig.js'

export default {
  name: 'Search',
  components: {
    ProfileResult
  },
  data () {
    return {
      model: '',
      searchQuery: []
    }
  },
  methods: {
    queryUsers (e) {
      if (this.model.length > 1) {
        usersCollection.where('username', '>=', this.model.toLowerCase())
          .where('username', '<=', `${this.model.toLowerCase()}z`).get().then(snapshot => {
            this.searchQuery = []
            snapshot.forEach(doc => {
              this.searchQuery.unshift({...doc.data(), uid: doc.ref.id})
            })
          })
      } else {
        this.searchQuery = []
      }
    }
  }
}
</script>
