<template>
  <v-container>
    <v-slide-y-transition mode="out-in">
      <v-layout column wrap>
        <v-flex xs12>
          <v-subheader>
            App theme:
          </v-subheader>
        </v-flex>
        <v-flex xs12 px-3>
          <v-select
            :items="themes"
            v-model="currentTheme"
            @change="onValueChange"
            solo />
        </v-flex>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  name: 'Settings',
  data () {
    return {
      themes: [
        'Light',
        'Dark'
      ],
      currentTheme: 'Light'
    }
  },
  mounted () {
    let theme = localStorage.getItem('ui-theme')
    if (theme) {
      this.currentTheme = theme.charAt(0).toUpperCase() + theme.slice(1)
    }
    console.log(this.currentTheme)
  },
  methods: {
    onValueChange (val) {
      this.$store.dispatch('setAppTheme', val.toLowerCase())
    }
  }
}
</script>
