<template>
  <v-container>
    <v-layout column>
      <v-flex xs12>
        <v-card>
          <v-card flat ref="croppercard" :height="cropperWidth" v-resize="onResize">
            <v-container fill-height>
              <v-layout column>
                <v-card v-if="!rawPic" flat :color="isDarkUI ? 'grey darken-2' : 'grey lighten-3'" class="fill-height" style="">
                  <img class="fill-height" :src="processedPic" v-if="processedPic">
                  <v-container v-else column fill-height>
                    <v-layout>
                      <v-flex xs12>
                        <v-layout justify-center align-center fill-height>
                          <v-icon size="30vw" color="grey">image</v-icon>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card>
                <cropper-container v-else :image-to-crop="rawPic" @on-crop="imageCropped"/>
              </v-layout>
            </v-container>
          </v-card>
          <v-layout row wrap justify-center px-2 pb-3>
            <file-chooser v-if="!rawPic && !processedPic" @on-file-choose="fileChosen"/>
            <v-btn v-else-if="rawPic || processedPic" color="accent" @click="reset"><v-icon left>attach_file</v-icon>New file</v-btn>
            <v-btn v-if="processedPic && !rawPic" color="primary" @click="uploadPhoto"><v-icon left>file_upload</v-icon>Upload</v-btn>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import CropperContainer from '../components/CropperContainer'
import FileChooser from '../components/FileChooser'
import {storage, picturesCollection} from '../firebaseConfig.js'
import {getGUID} from '../components/file-library.js'

export default {
  name: 'Upload',
  components: {
    CropperContainer,
    FileChooser
  },
  mounted () {
    this.onResize()
  },
  data () {
    return {
      rawPic: null,
      processedPic: null,
      processedPicOrig: null,
      cropperWidth: 0
    }
  },
  methods: {
    onResize () {
      this.cropperWidth = this.$refs.croppercard.$el.clientWidth
    },
    fileChosen (imageBlob) {
      this.rawPic = imageBlob
    },
    imageCropped (e) {
      console.log(e)
      this.rawPic = null
      this.processedPic = URL.createObjectURL(e)
      this.processedPicOrig = e
    },
    reset () {
      this.rawPic = null
      this.processedPic = null
    },
    uploadPhoto () {
      if (this.processedPicOrig) {
        this.$store.commit('setLoading', true)
        storage.ref(`pics/${getGUID()}`).put(this.processedPicOrig).then(snapshot => {
          snapshot.ref.getDownloadURL().then(url => {
            console.log(url)
            picturesCollection.doc(this.userUID).collection('pics').add({
              title: 'aaa',
              description: 'bbb',
              url
            }).then(() => {
              this.rawPic = null
              this.processedPic = null
              this.processedPicOrig = null
              this.$store.commit('setLoading', false)
            }).catch(err => {
              console.log(err)
              this.$store.commit('setLoading', false)
            })
          }).catch(err => {
            console.log(err)
            this.$store.commit('setLoading', false)
          })
        }).catch(err => {
          this.$store.commit('setLoading', false)
          console.log(err)
        })
      }
    }
  },
  computed: {
    isDarkUI () {
      return this.$store.state.ui.darkVariant
    },
    userUID () {
      return this.$store.state.session.currentUser.uid
    }
  }
}
</script>

<style scoped>
  .cropper-container {
    height: 100% !important;
  }
</style>
