<template>
  <v-card flat ref="croppercard" :height="cropperWidth" v-resize="onResize">
    <v-container fill-height>
      <v-layout column fill-height>
        <vue-cropper v-if="true" ref="cropper" class="fill-height" :src="imageToCrop" :cropmove="cropImage" :aspectRatio="1/1"/>
        <v-layout row wrap justify-center px-2 pb-3>
          <v-btn color="primary" @click="emitCrop"><v-icon left>crop</v-icon>Crop</v-btn>
        </v-layout>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import VueCropper from 'vue-cropperjs'

export default {
  name: 'CropperContainer',
  components: {
    VueCropper
  },
  props: {
    imageToCrop: String
  },
  data () {
    return {
      cropperWidth: 0,
      temporaryImg: true,
      cropImage: null
    }
  },
  mounted () {
    this.onResize()
  },
  computed: {
    isDarkUI () {
      return this.$store.state.ui.darkVariant
    }
  },
  methods: {
    onResize () {
      this.cropperWidth = this.$refs.croppercard.$el.clientWidth
    },
    emitCrop () {
      this.$store.commit('setLoading', true)
      this.$refs.cropper.getCroppedCanvas().toBlob(blob => {
        this.$emit('on-crop', blob)
        this.$store.commit('setLoading', false)
      }, 'image/jpeg', 0.95)
    }
  }
}
</script>

<style scoped>
  .cropper-container {
    height: 100% !important;
  }
</style>
