<template>
  <v-flex xs12>
    <v-card ref="card" v-resize="onResize">
      <v-card-title d-flex justify-start>
        <v-avatar size="30" class="mr-2">
          <img :src="pic.userPic" alt="Profile picture">
        </v-avatar>
        <h3>{{pic.userName}}</h3>
      </v-card-title>
      <v-card-media
        :src="pic.image" :height="cardWidth + 'px'" contain></v-card-media>
      <v-card-actions>
        <h3 class="ml-2">{{pic.likes}} Likes</h3>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>favorite</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>share</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  name: 'FeedCard',
  data () {
    return {
      cardWidth: 0
    }
  },
  props: {
    pic: Object
  },
  mounted () {
    this.onResize()
  },
  methods: {
    onResize () {
      this.cardWidth = this.$refs.card.$el.clientWidth - (0.20 * this.$refs.card.$el.clientWidth)
    }
  }
}
</script>
