<template>
  <div>
    <v-btn color="primary" @click="chooseFile"><v-icon left>attach_file</v-icon>Select file</v-btn>
    <input hidden ref="filechooser" type="file" accept="image/*" @change="fileSet" />
  </div>
</template>

<script>
import {checkImageMIME} from '../components/file-library.js'

export default {
  name: 'FileChooser',
  props: {
    // Image Scale Percentage (1 - 100)
    scale: {
      type: Number,
      default: 100
    },
    // Image Scale Percentage (1 - 100)
    quality: {
      type: Number,
      default: 100
    }
  },
  methods: {
    chooseFile () {
      this.$refs.filechooser.click()
    },
    fileSet (val) {
      this.$store.commit('setLoading', true)
      const file = val.target.files[0]
      if (file) {
        const fileReader = new FileReader()
        fileReader.onload = val => {
          const matching = checkImageMIME(val.target.result)
          if (matching !== 'NOT_IMAGE') {
            this.compress(val.target.result)
          } else {
            this.$store.commit('setLoading', false)
          }
        }
        fileReader.readAsDataURL(file)
      }
    },
    compress (imageURL) {
      let canvas = document.createElement('canvas')
      let ctx = canvas.getContext('2d')
      let quality = this.quality ? (this.quality / 100) : 0.95
      let img = new Image()
      img.src = imageURL
      img.onload = e => {
        let scale = this.scale / 100
        let width = img.width * scale
        let height = img.height * scale
        canvas.setAttribute('width', width)
        canvas.setAttribute('height', height)
        ctx.drawImage(img, 0, 0, width, height)
        canvas.toBlob(blob => {
          this.$emit('on-file-choose', URL.createObjectURL(blob))
          this.$store.commit('setLoading', false)
        }, 'image/jpeg', quality)
      }
    }
  }
}
</script>
