<template>
  <v-layout row justify-center fill-height>
    <v-dialog v-model="value" persistent content content-class="centered-dialog">
      <v-container fill-height fluid>
        <v-layout column justify-center align-center>
          <v-progress-circular indeterminate :size="50" :width="5" :color="progressColor"></v-progress-circular>
          <h1 v-if="message != null">{{message}}</h1>
        </v-layout>
      </v-container>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  name: 'Loading',
  props: {
    value: {type: Boolean, default: false},
    message: {type: String, default: null},
    progressColor: {type: String, default: 'purple'}
  }
}
</script>

<style>
  .dialog.centered-dialog,
  .v-dialog.centered-dialog
 {
    background: #ffffff;
    box-shadow: none;
    height: 100%;
    max-height: 100%;
    width: 100%;
    margin: 0;
    color: #3F51B5;
  }
</style>
