<template>
  <v-list-tile
    avatar
    ripple
    @click="openProfile">
    <v-list-tile-avatar>
      <img :src="avatar">
    </v-list-tile-avatar>

    <v-list-tile-content>
      <v-list-tile-title>{{username}}</v-list-tile-title>
    </v-list-tile-content>
  </v-list-tile>
</template>

<script>
export default {
  name: 'ProfileResult',
  props: {
    avatar: String || Blob,
    username: String,
    uid: String
  },
  methods: {
    openProfile () {
      this.$router.push(`/profile/${this.uid}`)
    }
  }
}
</script>
