<template>
  <v-flex xs4>
    <v-card ref="profpic" flat v-resize="onResize">
      <v-card-media :src="url" :height="picWidth"></v-card-media>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  name: 'ProfilePic',
  props: {
    url: String
  },
  data () {
    return {
      picWidth: 0
    }
  },
  mounted () {
    this.onResize()
  },
  methods: {
    onResize () {
      this.picWidth = this.$refs.profpic.$el.clientWidth
    }
  }
}
</script>
