<template>
  <v-app :dark="darkTheme" v-resize="onResize">
    <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
      v-if="this.windowWidth >= 700"
    >
      <v-list>
        <v-list-tile ripple router to="/">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile ripple router :to="!!loggedUser ? `/profile/${loggedUser.uid}` : '/'" >
          <v-list-tile-action>
            <v-icon>account_circle</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Profile</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile ripple router to="/upload">
          <v-list-tile-action>
            <v-icon>file_upload</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Upload</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile ripple router to="/search">
          <v-list-tile-action>
            <v-icon>search</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Search</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      app
      :clipped-left="clipped"
      dark
      color="primary"
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer" v-if="this.windowWidth >= 700"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer />
      <v-toolbar-items>
        <v-menu offset-y offset-x transition="slide-y-transition" bottom>
          <v-btn slot="activator" flat>
            <v-avatar v-if="loggedUser" size="40">
              <img :src="userProfile.profilePic" alt="Profile picture">
            </v-avatar>
            <v-icon v-else>more_vert</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile v-if="loggedUser" ripple @click="() => {}">
              <v-list-tile-title><v-icon class="mr-2">edit</v-icon> Edit Profile</v-list-tile-title>
            </v-list-tile>
            <v-list-tile ripple @click="navigate('settings')">
              <v-list-tile-title><v-icon class="mr-2">settings</v-icon> Settings</v-list-tile-title>
            </v-list-tile>
            <v-divider v-if="loggedUser"></v-divider>
            <v-list-tile v-if="loggedUser" ripple @click="logout">
              <v-list-tile-title><v-icon class="mr-2">exit_to_app</v-icon> Log Out</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-bottom-nav :active.sync="currentPage" :value="true" app v-if="this.windowWidth < 700">
      <v-btn flat router to="/">
        <span>Home</span>
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn flat router to="/search">
        <span>Search</span>
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn flat router to="/upload">
        <span>Upload</span>
        <v-icon>file_upload</v-icon>
      </v-btn>
      <v-btn flat router :to="!!loggedUser ? `/profile/${loggedUser.uid}` : '/'">
        <span>Profile</span>
        <v-icon>account_circle</v-icon>
      </v-btn>
    </v-bottom-nav>
    <Loading :value="dataLoading" progressColor="#fff" />
  </v-app>
</template>

<script>
import {auth} from '@/firebaseConfig.js'
import Loading from '@/components/Loading.vue'

export default {
  name: 'App',
  components: {
    Loading
  },
  data () {
    return {
      clipped: true,
      drawer: true,
      fixed: true,
      items: [{
        icon: 'bubble_chart',
        title: 'Inspire'
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'TLGram',
      windowWidth: 0,
      currentPage: 'home'
    }
  },
  created () {
    this.$store.dispatch('setAppTheme', 'initial')
    // window.addEventListener('resize', this.handleResize)
    this.onResize()
  },
  methods: {
    navigate (location) {
      this.$router.push(`/${location}`)
    },
    onResize () {
      this.windowWidth = window.innerWidth
    },
    logout () {
      auth.signOut().then(() => {
        this.$store.dispatch('clearData')
        this.$router.push('/login')
      }).catch(err => {
        console.log(err)
      })
    }
  },
  computed: {
    darkTheme () {
      return this.$store.state.ui.darkVariant
    },
    dataLoading () {
      return this.$store.state.ui.loading
    },
    loggedUser () {
      return this.$store.state.session.currentUser
    },
    userProfile () {
      return this.$store.state.session.userProfile
    }
  }
}
</script>
